<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: Login</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
</head>
<body>
<div class ="container">
    <h1 > Login to the bloogy </h1>
    <hr/>
    <a th:href="@{/posts}">Home</a>
    <form action ="#"
          th:action="@{/login}"
          method ="POST">
        <div class ="form-group">
            <label for="email">Email</label>
            <input id="email" type="email" name ="email" placeholder="email"/>
        </div>
        <div class ="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" name ="password" placeholder="password"/>
        </div>
        <button type ="submit"> Login!</button>
    </form>
</div>

</body>
</html>